body {
    background-image: url("Collaboration.jpg");
   background-repeat: no-repeat;
     background-size: cover;
}
a{
    color: black;
    position: fixed;
    width: 300px;
    text-decoration: none;
    font-family: "Arial" ;
    font-size: 60;
    fo
}
#int{
  bottom: 75%;
  right: 25%;
}
#pro{
    bottom: 25%;
    right: 25%;
}
}
